<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="wrapper">
    <script src="https://cdn.checkout.com/js/framesv2.min.js"></script>

    <form
    id="payment-form"
    method="POST"
    action="https://merchant.com/charge-card"
    >
    <div class="one-liner">
      <div class="card-frame"></div>
      <button id="pay-button" disabled>
        PAY GBP 24.99
      </button>
    </div>
    <p class="error-message"></p>
    <p class="success-payment-message"></p>
    </form>

    <script type="text/javascript">
      </script>
  </div>
 
  <!-- <script src="../../assets/JS/payment.js"></script>  -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
